/* IE7 Styles */
.scrolldown-icon {
  float: right;
  margin-top: -55px;
  margin-right: 25px;
  position: static; }

.how-app .app-links {
  padding-left: 16px; }

.release-hero h1 {
  display: block;
  float: left; }
.release-hero h2 {
  display: block;
  width: 533px;
  float: left; }

.bloodstats .right-col {
  display: block;
  float: left; }
  .bloodstats .right-col ul li.blood-type-stat {
    display: block;
    float: left;
    width: 165px;
    margin: 0px;
    padding: 0px; }
    .bloodstats .right-col ul li.blood-type-stat h3 {
      float: left;
      display: block;
      width: 135px;
      text-align: center;
      margin: 0px; }
      .bloodstats .right-col ul li.blood-type-stat h3 .bloodtype {
        font-weight: bold; }
    .bloodstats .right-col ul li.blood-type-stat .chart-container {
      display: block;
      float: left;
      width: 135px;
      margin: 0px;
      padding: 0px; }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .markers {
        display: block;
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: 3; }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .status {
        margin: 0px;
        padding: 0px;
        margin-left: -65px;
        width: 135px;
        height: 100px;
        vertical-align: middle; }
        .bloodstats .right-col ul li.blood-type-stat .chart-container .status label {
          display: block;
          margin-top: 40%;
          font-weight: bold; }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .chart {
        margin: 0px;
        padding: 0px;
        margin-left: -65px;
        width: 135px;
        height: 135px;
        background-repeat: no-repeat;
        background-position: center center; }
        .bloodstats .right-col ul li.blood-type-stat .chart-container .chart canvas {
          display: none; }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .chart.very-low {
        background-image: url(../img/blood_verylow.jpg); }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .chart.low {
        background-image: url(../img/blood_low.jpg); }
      .bloodstats .right-col ul li.blood-type-stat .chart-container .chart.healthy {
        background-image: url(../img/blood_healthy.jpg); }

.contact-form {
  height: 500px; }

.form1 .fieldset {
  border: 1px solid red; }

.form1 .row {
  height: 65px; }

.altgrey {
  background-color: #ebe9e3; }

.contact-form {
  width: 620px; }

.modal .modal-container .modal-box .close {
  display: block; }
.modal .modal-overlay {
  height: 950px; }

.modal-show {
  height: 600px;
  overflow: hidden; }
  .modal-show iframe,
  .modal-show .chart,
  .modal-show .status {
    display: none; }

.contact-form .contact-header .close {
  display: none; }

@media only screen and (max-width: 768px) {
  .modal .modal-container .modal-box .close {
    display: none; }

  .contact-form .contact-header .close {
    display: block; }

  .top-nav ul {
    width: 100%;
    display: none; }
    .top-nav ul li {
      width: 100%;
      display: block; }

  .release-hero {
    width: 100%;
    background-image: none; }
    .release-hero .inner-background {
      background-position: top right;
      background-image: url(../img/release-the-hero-image-ie.png);
      background-repeat: no-repeat;
      width: 100%;
      display: inline-block;
      padding-top: 20px; }
    .release-hero h1 {
      padding: 0px;
      width: 100%;
      float: left;
      background-image: url(../img/header_releasethehero-ie.png);
      background-position: top left;
      height: 135px;
      margin-top: -10px; }
    .release-hero .right-col {
      width: 100%;
      display: block;
      float: left; }
      .release-hero .right-col .video-player {
        float: left;
        display: block;
        margin-top: 0px;
        width: 100%; }

  .bloodstats {
    width: 100%;
    float: left; }
    .bloodstats .right-col {
      width: 100%;
      float: left; }
      .bloodstats .right-col ul {
        width: 100%;
        margin-top: 10px;
        float: left; }
        .bloodstats .right-col ul li.blood-type-stat {
          float: left;
          height: auto;
          width: 48%;
          margin: 0px;
          margin-bottom: 10px;
          background-position: bottom center; }
          .bloodstats .right-col ul li.blood-type-stat h3 {
            width: 100%;
            float: left; }
          .bloodstats .right-col ul li.blood-type-stat .chart-container {
            width: 100%;
            min-height: 150px;
            margin-left: auto;
            margin-right: auto; }
            .bloodstats .right-col ul li.blood-type-stat .chart-container canvas {
              display: none; }
          .bloodstats .right-col ul li.blood-type-stat .status br {
            display: inline; } }
