/* IE7 Styles */

.how-app {

	.app-links {
		padding-left:16px;
	}

}

.release-hero {
	display: block;
	width:1200px;

	h1 {
		display: block;
		float:left;
	}
	h2 {
		display: block;
		width:533px;
		float:left;
	}

}

.bloodstats {
	.right-col {
		display: block;
		float:left;

		ul {
			li.blood-type-stat {
				display: block;
				float:left;
				width:165px;
				margin: 0px;
				padding: 0px;

				h3 {
					float:left;
					display: block;
					width:135px;
					text-align: center;
					margin: 0px;
					.bloodtype { 
						font-weight: bold;
					}
				}
				.chart-container {
					display: block;
					float:left;
					width:135px;
					margin: 0px;
					padding: 0px;

					.markers {
						display: block;
						width: inherit;
						height: inherit;
						position: absolute;

						z-index: 3;
					}
					.status {
						margin: 0px;
						padding: 0px;
						margin-left: -65px;
						width:135px;
						height:100px;
						vertical-align: middle;

						label {
							display: block;
							margin-top:40%;
							font-weight: bold;
						}
					}
					.chart {
						margin: 0px;
						padding: 0px;
						margin-left: -65px;
						width:135px;
						height: 135px;
						background-repeat: no-repeat;
						background-position: center center;
						canvas {
							display: none;
						}
					}
					.chart.very-low {
						background-image:url(../img/blood_verylow.jpg);
					}
					.chart.low {
						background-image:url(../img/blood_low.jpg);
					}
					.chart.healthy {
						background-image:url(../img/blood_healthy.jpg);
					}
				}
			}
		}
	}
}

.contact-form {
	height: 500px;
}

.form1 .fieldset {
	border:1px solid red;
}

.form1 .row {
	height: 65px;
}

.altgrey {
	background-color: #ebe9e3;
}

.contact-form {
	width:620px;
}

.modal {

	.modal-container {

		.modal-box {

			.content {
			}
			.close {
				display: block;
			}
		}
	}
	.modal-overlay {
		height:650px;
	}
}

.modal-show {
	height:600px;
	overflow: hidden;

	iframe,
	.chart,
	.status {
		display: none;
	}
}

.contact-form .contact-header {
	.close {
		display: none;
	}
}

@media only screen and (max-width : 768px) {
	.modal {
		.modal-container { 
			.modal-box {
				.close {
					display: none;
				}
			}
		}
	}
	.contact-form .contact-header {
		.close {
			display: block;
		}
	}
	.top-nav {
		ul {
			width:100%;
			display: block;

			li {
				width:100%;
				display: block;
			}
		}
	}
	.release-hero {
		width:100%;
		background-image:none;

		.inner-background {
			background-position: top right;
			background-image: url(../img/release-the-hero-image-ie.png);
			background-repeat: no-repeat;
			width:100%;
			display: inline-block;
			padding-top: 20px;
		}

		h1 {
			padding: 0px;
			width:100%;
			float:left;
			background-image: url(../img/header_releasethehero-ie.png);
			background-position: top left;
			height: 135px;
			margin-top: -10px;
		}

		.right-col {
			width:100%;
			display: block;
			float:left;

			.video-player {
				float:left;
				display: block;
				margin-top: 0px;
				width:100%;
			}
		}
	}

	.bloodstats {
		width:100%;
		float:left;

		.right-col {
			width:100%;
			float:left;

			ul {
				width:100%;
				margin-top: 10px;
				float:left;

				li.blood-type-stat {
					float:left;
					height: auto;
					width:48%;
					margin: 0px;
					margin-bottom: 10px;
					background-position: bottom center;
					
					h3 { 
						width:100%;
						float:left;
					}
					.chart-container {
						width:100%;
						min-height:150px;
						margin-left: auto;
						margin-right: auto;

						canvas {
							display:none;
						}

					}
					.status {
						br {
							display: inline;
						}
					}
				}
			}
		}
	}

	.facebook {
	}

}

