@font-face {
  font-family: 'ITCAvantGardeStd-Bk';
  src: url("../fonts/ITCAvantGardeStd-Bk.eot");
  src: url("../fonts/ITCAvantGardeStd-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bk.svg") format("svg"); }

@font-face {
  font-family: 'ITCAvantGardeStd-Md';
  src: url("../fonts/ITCAvantGardeStd-Md.eot");
  src: url("../fonts/ITCAvantGardeStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Md.svg") format("svg"), url("../fonts/ITCAvantGardeStd-Md.eot?#iefix"); }

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url("../fonts/ITCAvantGardeStd-Demi.eot");
  src: url("../fonts/ITCAvantGardeStd-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Demi.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Demi.svg") format("svg"); }

@font-face {
  font-family: 'ITCAvantGardeStd-XLt';
  src: url("../fonts/ITCAvantGardeStd-XLt.eot");
  src: url("../fonts/ITCAvantGardeStd-XLt.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-XLt.woff") format("woff"), url("../fonts/ITCAvantGardeStd-XLt.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-XLt.svg") format("svg"); }

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("../fonts/ITCAvantGardeStd-Bold.eot");
  src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bold.svg") format("svg"); }

body {
  font-family: 'ITCAvantGardeStd-Bk';
  font-size: 0.875em;
  line-height: 180%;
  padding-top: 70px;
  margin: 0px; }
  body .page-container {
    width: 100%; }
  body .inner-section {
    max-width: 1200px;
    min-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    body .inner-section .inner-block {
      width: 100%;
      clear: both; }

.modal-show {
  padding: 0px;
  height: 650px;
  overflow: hidden; }
  .modal-show iframe,
  .modal-show canvas {
    display: none; }

.close {
  background-image: url(../fancybox/fancybox_sprite.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  float: right;
  position: relative;
  margin-top: 8px;
  margin-right: 8px; }

a {
  color: #b51419; }

.for-mobile {
  display: none; }

.for-desktop {
  display: block; }

.stLarge {
  background-image: none; }

.logo-redcrossconnect {
  width: 175px;
  max-height: 55px;
  min-height: 75px;
  margin-left: 19px;
  margin-right: 30px;
  display: inline-block;
  float: left;
  margin-top: 7px; }
  .logo-redcrossconnect img {
    width: 100%; }

.logo-sgredcross {
  display: inline-block;
  width: 49px;
  height: 49px;
  display: inline-block;
  float: right;
  margin-right: 19px;
  margin-top: 7px; }
  .logo-sgredcross img {
    width: 100%; }

.top-nav {
  background-image: url(../img/top_nav_bg.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 75px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000; }
  .top-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: auto;
    min-width: 695px;
    display: inline-block;
    float: left;
    height: 69px; }
    .top-nav ul li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: inline-block;
      height: 69px;
      width: auto;
      float: left; }
      .top-nav ul li a {
        font-family: 'ITCAvantGardeStd-Md';
        text-decoration: none;
        color: #000000;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        height: 49px; }
        .top-nav ul li a span {
          height: 30px;
          display: inline-block;
          float: left; }
        .top-nav ul li a span.icon {
          padding-right: 5px;
          background-image: url(../img/top-nav-icons.png);
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-top: 0px;
          float: left; }
      .top-nav ul li .icon-how {
        background-position: 0px -30px;
        width: 35px; }
      .top-nav ul li .icon-where {
        background-position: -34px -30px; }
      .top-nav ul li .icon-faqs {
        background-position: -65px -30px; }
      .top-nav ul li .icon-contact {
        background-position: -95px -30px; }
    .top-nav ul li:hover,
    .top-nav ul li.active {
      background-color: #b41419; }
      .top-nav ul li:hover a,
      .top-nav ul li.active a {
        color: #ffffff; }
      .top-nav ul li:hover .icon-how,
      .top-nav ul li.active .icon-how {
        background-position: 0px 0px; }
      .top-nav ul li:hover .icon-where,
      .top-nav ul li.active .icon-where {
        background-position: -34px 0px; }
      .top-nav ul li:hover .icon-faqs,
      .top-nav ul li.active .icon-faqs {
        background-position: -65px 0px; }
      .top-nav ul li:hover .icon-contact,
      .top-nav ul li.active .icon-contact {
        background-position: -95px 0px; }

.sticky-nav {
  width: 44px;
  height: 176px;
  position: fixed;
  top: 25%;
  left: 0px; }
  .sticky-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 100%; }
    .sticky-nav ul li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 44px;
      height: 44px;
      margin-bottom: 1px; }
      .sticky-nav ul li .icon {
        background-image: url(../img/sticky-nav-icons.png);
        background-repeat: no-repeat;
        width: 44px;
        height: 44px;
        display: block;
        background-color: #a29f9a;
        margin: 0px;
        padding: 0px; }
      .sticky-nav ul li .icon:hover,
      .sticky-nav ul li .icon.active {
        background-color: #b51419; }
      .sticky-nav ul li .icon-how {
        background-position: 0px 0px; }
      .sticky-nav ul li .icon-video {
        background-position: -44px 0px; }
      .sticky-nav ul li .icon-where {
        background-position: -88px 0px; }
      .sticky-nav ul li .icon-faqs {
        background-position: -132px 0px; }
      .sticky-nav ul li .icon-how:hover {
        background-position: 0px -44px; }
      .sticky-nav ul li .icon-video:hover {
        background-position: -44px -44px; }
      .sticky-nav ul li .icon-where:hover {
        background-position: -88px -44px; }
      .sticky-nav ul li .icon-faqs:hover {
        background-position: -132px -44px; }

.section {
  padding-top: 35px;
  padding-bottom: 35px; }
  .section p {
    font-family: 'ITCAvantGardeStd-Bk';
    font-size: 100%;
    line-height: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px; }

.st_sharethis_custom {
  display: block;
  width: 100%;
  height: 100%; }

.reflect {
  /* IE 5-7 */
  filter: alpha(opacity=40);
  margin-top: 1px;
  height: 80px;
  overflow: hidden; }
  .reflect .mask {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 80px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(90%, white), color-stop(100%, white));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-8 */ }
  .reflect img {
    zoom: 1;
    opacity: 0.4;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* IE 5-7 */
    filter: alpha(opacity=40);
    /* Netscape */
    -moz-opacity: 0.4;
    /* Safari 1.x */
    -khtml-opacity: 0.4;
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    filter: url(filter.svg#blur);
    -webkit-filter: blur(1px); }

.how-app {
  width: 100%;
  display: inline-block; }
  .how-app .cta-share {
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    background-image: url(../img/btn_sharethis.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    cursor: pointer; }
  .how-app .app-screen {
    display: block;
    float: left;
    margin-left: 12%;
    margin-right: 5%;
    max-width: 339px;
    max-height: 730px;
    width: 28.25%;
    overflow: hidden; }
    .how-app .app-screen img {
      display: block;
      width: auto;
      height: auto;
      max-width: 299px;
      max-height: 629px; }
    .how-app .app-screen .reflect {
      width: 100%;
      max-width: 339px; }
      .how-app .app-screen .reflect .mask {
        width: 100%;
        max-width: 339px; }
      .how-app .app-screen .reflect img {
        width: 100%; }
  .how-app .title-text {
    width: 48.00%;
    float: right; }
    .how-app .title-text h1 {
      text-transform: uppercase;
      font-family: 'ITCAvantGardeStd-Bk';
      font-weight: normal;
      color: #b0aea8;
      font-size: 5em;
      line-height: 100%;
      margin: 0px;
      margin-top: 100px;
      padding-bottom: 10px; }
      .how-app .title-text h1 .redbold {
        font-family: 'ITCAvantGardeStd-Demi';
        color: #b51419; }
    .how-app .title-text p {
      letter-spacing: 1px; }
  .how-app .app-links {
    width: 48.00%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 16px; }
    .how-app .app-links a {
      width: auto;
      float: left;
      display: block;
      margin-right: 10px; }
  .how-app .watch-video {
    width: 48%;
    float: left;
    margin-top: 29px;
    margin-left: 16px;
    display: inline-block; }
    .how-app .watch-video .video-link {
      width: 100%;
      display: inline-block; }
    .how-app .watch-video .reflect {
      width: 48%; }
      .how-app .watch-video .reflect .mask {
        width: 100%;
        max-width: 246px; }
      .how-app .watch-video .reflect img {
        width: none; }
  .how-app .app-features {
    margin-left: 67px;
    float: left;
    display: block;
    clear: both;
    width: 100%; }
    .how-app .app-features h2 {
      color: #74726f;
      font-family: 'ITCAvantGardeStd-Bk';
      font-size: 1.5em;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 0px;
      padding-bottom: 0px; }
    .how-app .app-features ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      padding-top: 0px;
      width: 100%; }
      .how-app .app-features ul li {
        list-style: none;
        margin: 0px;
        padding-top: 0px;
        float: left;
        width: 25%;
        max-width: 245px;
        min-width: 115px;
        margin-bottom: 5px;
        font-family: 'ITCAvantGardeStd-Demi';
        font-size: 0.875em;
        line-height: 120%;
        color: #74726f;
        text-align: center; }
        .how-app .app-features ul li img {
          display: block;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 2px;
          max-width: 245px;
          min-width: 100px;
          width: 100%; }
      .how-app .app-features ul li.vline {
        border-right: 1px solid #efefef; }

.release-hero {
  background-color: #ebe9e3; }
  .release-hero .inner-section {
    background-image: url(../img/release-the-hero-image.png);
    background-repeat: no-repeat;
    background-position: 0px 230px;
    padding-right: 48px;
    height: 660px; }
  .release-hero h1 {
    padding: 0px;
    margin: 0px;
    background-image: url(../img/header_releasethehero.png);
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 38px;
    width: 262px;
    height: 160px;
    display: inline-block; }
  .release-hero h2 {
    font-weight: normal;
    font-family: 'ITCAvantGardeStd-Bk';
    font-size: 3.375em;
    text-transform: uppercase;
    line-height: 100%;
    color: #b0aea8;
    float: left;
    width: 65%; }
    .release-hero h2 .redbold {
      font-family: 'ITCAvantGardeStd-Demi';
      color: #b51419; }
  .release-hero .right-col {
    float: right;
    width: 820px; }
    .release-hero .right-col .video-player {
      width: 820px;
      height: 407px;
      margin-top: 37px; }
      .release-hero .right-col .video-player iframe {
        width: 820px;
        height: 407px; }
    .release-hero .right-col .btn-share-now {
      margin-top: 65px;
      background-image: url(../img/btn_sharenow.png);
      background-repeat: no-repeat;
      width: 196px;
      height: 38px;
      display: inline-block;
      float: right;
      cursor: pointer; }

.bloodstats {
  display: block;
  min-height: 150px;
  padding-left: 48px;
  padding-right: 28px; }
  .bloodstats .left-col {
    float: left;
    width: 418px; }
    .bloodstats .left-col a {
      display: block; }
    .bloodstats .left-col h2 {
      color: #74726f;
      font-family: 'ITCAvantGardeStd-Bk';
      font-size: 1.5em;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 23px;
      padding-bottom: 0px; }
      .bloodstats .left-col h2 .redbold {
        font-family: 'ITCAvantGardeStd-Demi';
        color: #b51419; }
  .bloodstats .right-col {
    float: right;
    width: 700px; }
    .bloodstats .right-col a {
      display: none; }
    .bloodstats .right-col ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      margin-top: -15px; }
      .bloodstats .right-col ul li.blood-type-stat {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 127px;
        height: 180px;
        float: left;
        margin-right: 48px;
        background-repeat: no-repeat;
        background-position: 0px 50px; }
        .bloodstats .right-col ul li.blood-type-stat h3 {
          font-family: 'ITCAvantGardeStd-Bk';
          font-size: 1.188em;
          margin: 0px;
          font-weight: normal;
          padding-bottom: 4px;
          padding-top: 4px;
          text-transform: uppercase;
          color: #000000; }
          .bloodstats .right-col ul li.blood-type-stat h3 .bloodtype {
            font-family: 'ITCAvantGardeStd-Bold'; }
        .bloodstats .right-col ul li.blood-type-stat .chart-container {
          width: 127px;
          height: 110px; }
          .bloodstats .right-col ul li.blood-type-stat .chart-container .markers {
            width: inherit;
            height: inherit;
            position: absolute;
            z-index: 3; }
          .bloodstats .right-col ul li.blood-type-stat .chart-container .status {
            font-family: 'ITCAvantGardeStd-Bold';
            font-size: 1.063em;
            text-transform: uppercase;
            color: #000000;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: inherit;
            height: inherit;
            position: absolute;
            z-index: 2; }
            .bloodstats .right-col ul li.blood-type-stat .chart-container .status label {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              width: inherit;
              height: inherit; }
              .bloodstats .right-col ul li.blood-type-stat .chart-container .status label br {
                display: inline; }
          .bloodstats .right-col ul li.blood-type-stat .chart-container .chart {
            width: inherit;
            height: inherit;
            position: absolute;
            z-index: 1; }
      .bloodstats .right-col ul li.verylow {
        background-image: url(../img/icon_blood_verylow.png); }
      .bloodstats .right-col ul li.low {
        background-image: url(../img/icon_blood_low.png); }
      .bloodstats .right-col ul li.healthy {
        background-image: url(../img/icon_blood_healthy.png); }

.where {
  background-color: #ebe9e3;
  padding-left: 48px;
  padding-right: 28px;
  height: 600px; }
  .where h1 {
    width: 100%;
    display: inline-block;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'ITCAvantGardeStd-Bk';
    font-weight: normal;
    color: #b0aea8;
    font-size: 5em;
    line-height: 100%;
    margin: 0px;
    padding-bottom: 10px; }
    .where h1 .redbold {
      font-family: 'ITCAvantGardeStd-Demi';
      color: #b51419; }
  .where .btn-appt {
    color: #ffffff;
    font-family: 'ITCAvantGardeStd-Bk';
    font-size: 0.85em;
    line-height: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: url(../img/btn_small_bg.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 21px;
    display: block;
    margin-top: 20px; }
  .where .left-col {
    display: inline-block;
    width: 249px;
    float: left; }
    .where .left-col .btn-appt {
      display: block; }
    .where .left-col p {
      font-size: 100%;
      line-height: 150%; }
    .where .left-col ul {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      .where .left-col ul li {
        list-style: none;
        font-size: 90%;
        margin: 0px;
        padding: 0px;
        line-height: 120%;
        margin-bottom: 25px; }
        .where .left-col ul li .date {
          font-weight: bold;
          display: inline-block;
          width: 100%; }
        .where .left-col ul li .time {
          display: inline;
          width: 30%; }
        .where .left-col ul li .description {
          display: inline;
          width: 70%; }
        .where .left-col ul li .description:before {
          content: " - "; }
    .where .left-col select {
      margin-top: 20px;
      display: block; }
  .where .right-col {
    display: inline-block;
    width: 850px;
    float: left;
    margin-left: 20px; }
    .where .right-col .btn-appt {
      display: none; }
    .where .right-col .googlemap {
      width: 100%;
      height: 400px; }
      .where .right-col .googlemap iframe,
      .where .right-col .googlemap object,
      .where .right-col .googlemap embed {
        width: 100%;
        height: 100%; }

.facebook {
  height: 200px;
  padding-bottom: 0px;
  margin-top: 0px; }
  .facebook iframe {
    display: block;
    width: 100%;
    min-height: 200px; }
  .facebook .footer-image {
    background-image: url(../img/hero_footer.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 245px;
    height: 200px;
    float: right; }

.modal {
  display: none;
  position: fixed;
  z-index: 1004;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  .modal .modal-container {
    opacity: 1;
    position: absolute;
    z-index: 1005;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90%; }
    .modal .modal-container .modal-box {
      max-width: 640px;
      width: 80%;
      height: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      background: #ffffff;
      padding: 20px; }
      .modal .modal-container .modal-box .close {
        background-image: url(../fancybox/fancybox_sprite.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        float: right;
        position: relative;
        margin-right: -38px;
        margin-top: -38px; }
      .modal .modal-container .modal-box .content {
        width: 100%;
        height: 95%;
        overflow-y: scroll; }
        .modal .modal-container .modal-box .content .close {
          display: none; }
      .modal .modal-container .modal-box .content > div {
        margin-left: auto;
        margin-right: auto; }
  .modal .modal-overlay {
    position: fixed;
    z-index: 1003;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5; }

.contact .modal {
  display: block;
  top: 0px;
  z-index: 1000;
  position: none;
  height: 100%; }
  .contact .modal .modal-overlay {
    position: fixed;
    height: 100%; }

.contact-form {
  width: 100%; }

.contact-form .contact-header {
  height: 50px;
  max-width: 620px;
  width: 100%;
  display: inline-block;
  background: #9c1824 url("../img/contact-header-bg.png"); }
  .contact-form .contact-header .close {
    background-image: url(../fancybox/fancybox_sprite.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    float: right;
    margin-top: 8px;
    margin-right: 8px; }

.contact-form .contact-header span {
  font-weight: 100;
  padding-left: 20px;
  line-height: 60px;
  color: #FFFFFF;
  font-size: 30px; }

.form1 {
  padding: 10px 10px;
  background: url("../img/bg.png") no-repeat right 0;
  background-size: 100% 100%;
  height: 100%;
  margin: 0;
  max-width: 600px;
  width: 100%; }

.form1 fieldset {
  width: 100%; }

.form1 .note {
  font-size: 10px;
  float: right;
  display: block; }

.form1 .row {
  margin: 0 !important;
  min-height: 65px;
  display: block; }

.form1 label {
  max-width: 160px;
  width: 160px;
  display: inline-block;
  text-align: right;
  font-size: 18px;
  color: #000000;
  padding-right: 10px; }

.form1 input {
  width: 300px;
  height: 30px;
  font-family: 'ITCAvantGardeStd-Bk';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  display: inline-block; }

.form1 #contact-verify {
  max-width: 200px;
  width: 100%; }

.form1 .parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important; }

.form1 .captcha {
  margin-left: 15px;
  background: #eeeeee;
  color: #0059bd;
  padding: 5px 10px; }

.btn-reload {
  cursor: pointer; }

.btn-send {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
  margin-left: 31%; }

.form1 textarea {
  max-width: 320px;
  width: 80%;
  height: 80px;
  font-family: 'ITCAvantGardeStd-Bk';
  font-weight: normal;
  font-style: normal; }

.form1 .success {
  display: none;
  font-size: 150%; }

.parsley-error-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 32%;
  margin-top: 3px; }
  .parsley-error-list li {
    list-style: none;
    padding: 0px;
    margin: 0px; }

.faq {
  padding-left: 60px;
  margin-top: -30px; }
  .faq .left-col {
    float: left;
    width: 680px; }
    .faq .left-col h1 {
      padding: 0px;
      color: #b0aea8;
      font-size: 4.375em;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 100%;
      font-family: 'ITCAvantGardeStd-Bk';
      margin-bottom: 16px; }
    .faq .left-col .faq-category {
      margin-left: 32px; }
      .faq .left-col .faq-category ul {
        list-style: none;
        padding: 0px;
        margin: 0px; }
        .faq .left-col .faq-category ul li {
          list-style: none;
          padding: 0px;
          margin: 0px; }
          .faq .left-col .faq-category ul li a {
            background-image: url(../img/small-red-cross.png);
            background-repeat: no-repeat;
            padding-left: 24px;
            background-position: left center;
            color: grey;
            text-decoration: none;
            line-height: 100%; }
  .faq .cover-img {
    float: right;
    width: 449px;
    height: 571px;
    background-image: url(../img/faq_hero_img.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px; }

.category-section {
  float: left;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 55px;
  padding-bottom: 55px; }
  .category-section .inner-section {
    padding-left: 0px;
    padding-right: 115px;
    min-width: 970px;
    width: 970px; }
  .category-section h2 {
    font-weight: normal;
    color: #000000;
    font-family: 'ITCAvantGardeStd-Bk';
    text-transform: uppercase; }
  .category-section ul.faqlist {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .category-section ul.faqlist li {
      list-style: none;
      padding: 0px;
      margin: 0px;
      background-image: url(../img/list-item.png);
      background-repeat: no-repeat;
      background-position: 0px 8px;
      padding-left: 15px; }
      .category-section ul.faqlist li label {
        font-weight: bold;
        cursor: pointer; }
      .category-section ul.faqlist li div {
        display: none; }

.category-section:nth-child(even),
.category-section.altgrey {
  background-color: #ebe9e3; }

.clear-fix {
  clear: both; }

/* Smart Phone */
/* responsive break points */
@media only screen and (max-width: 768px) {
  body {
    min-width: 320px; }
    body .page-container {
      max-width: 1200px;
      min-width: 320px;
      width: 100%; }
    body .section {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      display: block;
      float: left; }
    body .inner-section {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      display: block;
      float: left; }
      body .inner-section .inner-block {
        width: 100%;
        clear: both; }

  body.no-pad {
    padding: 0px; }

  br {
    display: none; }

  body {
    padding-top: 45px; }

  .form1 {
    padding: 0px;
    width: 97.5%;
    padding-left: 2.5%; }

  .form1 .row {
    width: 90%; }

  .form1 .note {
    margin-right: 10px; }

  .form1 label {
    display: block;
    text-align: left;
    width: 100%;
    clear: both; }

  .form1 .captcha {
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px; }

  .form1 input {
    width: 90%;
    clear: both; }

  .form1 textarea {
    display: inline-block;
    width: 90%; }

  .form1 #contact-verify {
    width: 35%; }

  .btn-reload {
    margin-left: 10px;
    width: 36px; }
    .btn-reload img {
      width: inherit; }

  .form1 .btn-send {
    margin-left: 0px; }

  .parsley-error-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 0%;
    margin-top: 3px;
    width: 100%; }
    .parsley-error-list li {
      list-style: none;
      padding: 0px;
      margin: 0px; }

  .logo-redcrossconnect {
    width: 76.75%;
    height: 30px;
    min-width: 200px;
    min-height: 30px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center; }
    .logo-redcrossconnect img {
      max-width: 100px; }

  .logo-sgredcross {
    width: 9.375%;
    max-width: 30px;
    min-width: 28px;
    margin-right: 1.5%;
    height: 30px;
    margin-right: 0px; }
    .logo-sgredcross img {
      width: 100%;
      max-width: 100%; }

  .sticky-nav {
    display: none; }

  .top-nav {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 45px;
    background-position: 0px -25px; }
    .top-nav .menu {
      background-image: url(../img/btn-menu.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 9.375%;
      min-width: 28px;
      height: 21px;
      display: inline-block;
      margin-top: 13px;
      margin-left: 1.5%;
      margin-right: 1.5%;
      float: left; }
    .top-nav ul {
      display: none;
      position: absolute;
      top: 45px;
      left: 0px; }
      .top-nav ul li {
        width: 100%;
        height: 50px;
        clear: both;
        background: #ffffff;
        background-position: bottom;
        border-bottom: 1px solid #cccccc; }
        .top-nav ul li a {
          height: 30px;
          padding-top: 10px;
          padding-bottom: 10px; }

  .reflect {
    height: 50px; }
    .reflect .mask {
      height: 50px; }

  .how-app .cta-share {
    display: none; }
  .how-app .title-text {
    width: 100%;
    clear: both; }
    .how-app .title-text h1 {
      margin-top: 10px;
      clear: both;
      width: 100%;
      font-size: 2.5em;
      text-align: center; }
      .how-app .title-text h1 br {
        display: inline; }
    .how-app .title-text p {
      display: block;
      float: left;
      width: 100%;
      text-align: center; }
  .how-app .app-screen {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-top: 10px;
    padding-left: 10%; }
    .how-app .app-screen img {
      width: 100%; }
    .how-app .app-screen .reflect .mask {
      width: 100%;
      max-width: 35%; }
    .how-app .app-screen .reflect img {
      width: 100%; }
  .how-app .app-links {
    margin: 0px;
    display: block;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 35px;
    width: 45%;
    float: right;
    text-align: center; }
    .how-app .app-links a {
      width: 100%;
      clear: both;
      margin: 0px;
      display: block;
      margin-bottom: 10px; }
  .how-app .watch-video-col {
    margin: 0px;
    display: block;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 45%;
    float: right;
    text-align: center; }
    .how-app .watch-video-col .watch-video {
      float: none;
      margin: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 135px;
      text-align: center; }
      .how-app .watch-video-col .watch-video .video-link img {
        width: 135px; }
      .how-app .watch-video-col .watch-video .reflect {
        max-width: 135px;
        width: 135px; }
        .how-app .watch-video-col .watch-video .reflect .mask {
          width: 135px; }
        .how-app .watch-video-col .watch-video .reflect img {
          width: 135px; }
  .how-app .app-features {
    margin-left: 0px;
    width: 99.5%;
    text-align: center; }
    .how-app .app-features h2 {
      padding-bottom: 10px;
      font-size: 1.2em; }
    .how-app .app-features ul {
      display: block;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
      .how-app .app-features ul li {
        display: block;
        font-family: 'ITCAvantGardeStd-Bk';
        font-size: 0.8em;
        width: 41%;
        padding-left: 4%;
        padding-right: 4%;
        margin-bottom: 10px; }
      .how-app .app-features ul li.vline {
        border: none; }
      .how-app .app-features ul li.mvline {
        border-right: 1px solid #dddddd; }

  .release-hero {
    display: block; }
    .release-hero .inner-section {
      background-position: 185% 2px;
      background-size: 71%;
      padding-right: 0px;
      height: 535px; }
    .release-hero h1 {
      margin-left: 0px;
      text-align: center;
      width: 50%;
      float: left;
      background-position: top center;
      background-size: contain;
      height: 125px; }
    .release-hero h2 {
      float: left;
      display: block;
      width: 100%;
      font-size: 2em;
      text-align: center;
      margin-bottom: 10px; }
      .release-hero h2 br {
        display: inline; }
    .release-hero .right-col {
      width: 100%;
      float: left; }
      .release-hero .right-col .video-player {
        float: left;
        width: 100%;
        height: 80%;
        max-height: 300px;
        margin-top: 0px;
        background-image: none; }
        .release-hero .right-col .video-player iframe,
        .release-hero .right-col .video-player object,
        .release-hero .right-col .video-player embed {
          width: 100%;
          height: 80%; }
      .release-hero .right-col .btn-share-now {
        margin-top: 5px;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        display: block; }

  .bloodstats .left-col {
    width: 100%;
    text-align: center; }
    .bloodstats .left-col a {
      display: none; }
  .bloodstats .right-col {
    width: 100%; }
    .bloodstats .right-col ul {
      margin-top: 10px; }
      .bloodstats .right-col ul li.blood-type-stat {
        height: auto;
        width: 50%;
        margin: 0px;
        margin-bottom: 10px;
        background-position: bottom center; }
        .bloodstats .right-col ul li.blood-type-stat .chart-container {
          width: 150px;
          height: 113px;
          margin-left: auto;
          margin-right: auto; }
        .bloodstats .right-col ul li.blood-type-stat .status br {
          display: inline; }
    .bloodstats .right-col a {
      display: block;
      text-align: center; }

  .where {
    text-align: center;
    height: auto; }
    .where h1 {
      font-size: 3em;
      text-align: center;
      line-height: 120%;
      padding-top: 20px; }
    .where .btn-appt {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .where .left-col {
      width: 100%;
      display: block; }
      .where .left-col select {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      .where .left-col .btn-appt {
        display: none; }
      .where .left-col .googlemap {
        width: 100%;
        height: 350px;
        margin-top: 15px; }
    .where .right-col {
      width: 100%;
      display: block;
      margin-left: 0px;
      margin-top: 10px; }
      .where .right-col .btn-appt {
        display: block; }

  .facebook {
    margin-top: 0px;
    height: auto;
    padding-bottom: 10px; }
    .facebook .footer-image {
      display: none; }

  body .faq {
    width: 97%;
    max-width: 97%;
    min-width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%; }
    body .faq .left-col {
      width: 100%; }
      body .faq .left-col h1 {
        font-size: 2.5em;
        text-align: center; }
    body .faq .cover-img {
      display: none; }
  body .category-section {
    float: left;
    width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 20px;
    padding-bottom: 20px; }
    body .category-section .inner-section {
      padding-left: 0px;
      padding-right: 0px;
      min-width: 100%;
      width: 100%; }

  .modal {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    height: 700px; }
    .modal .modal-container {
      position: static;
      height: 700px; }
      .modal .modal-container .modal-box {
        margin: 0px;
        max-width: 640px;
        width: 97%;
        background: #ffffff;
        padding: 1.5%;
        height: 700px; }
        .modal .modal-container .modal-box .close {
          display: none; }
        .modal .modal-container .modal-box .content {
          height: 650px;
          overflow: visible; }
          .modal .modal-container .modal-box .content .close {
            display: block;
            margin: 0px;
            margin-top: 8px;
            margin-right: 8px; }
    .modal .modal-overlay {
      height: 650px;
      display: none; }

  .contact .modal {
    position: fixed;
    display: block;
    top: 60px;
    z-index: 1000; }
    .contact .modal .modal-container .modal-box .close {
      display: none; }

  .for-mobile {
    display: block; }

  .for-desktop {
    display: none; }

  div.fancy-select {
    width: 200px;
    margin-right: auto;
    margin-left: auto; }
    div.fancy-select div.trigger {
      width: 165px; } }
