/* IE8 */
.bloodstats .right-col ul li.blood-type-stat .chart-container .status {
  margin: 0px;
  padding: 0px;
  width: 135px;
  height: 100px;
  vertical-align: middle; }
  .bloodstats .right-col ul li.blood-type-stat .chart-container .status label {
    display: block;
    margin-top: 40%;
    font-weight: bold; }
.bloodstats .right-col ul li.blood-type-stat .chart-container .chart {
  margin: 0px;
  padding: 0px;
  width: 135px;
  height: 135px;
  background-repeat: no-repeat;
  background-position: center center; }
  .bloodstats .right-col ul li.blood-type-stat .chart-container .chart canvas {
    display: none; }
.bloodstats .right-col ul li.blood-type-stat .chart-container .chart.very-low {
  background-image: url(../img/blood_verylow.jpg); }
.bloodstats .right-col ul li.blood-type-stat .chart-container .chart.low {
  background-image: url(../img/blood_low.jpg); }
.bloodstats .right-col ul li.blood-type-stat .chart-container .chart.healthy {
  background-image: url(../img/blood_healthy.jpg); }

.altgrey {
  background-color: #ebe9e3; }

.where .left-col .btn-appt {
  background-color: none;
  background-image: url(../img/btn_small_bg.png);
  background-repeat: no-repeat; }
